################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GoGoGo.Entity/obj
/GoGoGo.Entity/bin/Debug/netcoreapp2.2
/.vs/GoGoGo/v15/Server/sqlite3
/DotNetCoreConfiguration/obj
/LogManCore/obj/Debug/netcoreapp2.2
/LogManCore/obj
/GoGoGo.DataStorage/bin/Debug/netcoreapp2.2
/GoGoGo.DataStorage/obj/Debug/netcoreapp2.2
/GoGoGo.DataStorage/obj
/.vs/GoGoGo/v16/Server/sqlite3
/.vs/GoGoGo/DesignTimeBuild
/UnitTest/GoGoGo.DataStorage.UnitTest/bin/Debug/netcoreapp2.2
/GoGoGo.Core/bin/Debug/netcoreapp2.2
/DotNetCoreConfiguration/bin/Debug/netcoreapp2.2
/GoGoGo.WebApp/obj
