################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GoGoGo.Entity/obj
/GoGoGo.Entity/bin/Debug/netcoreapp2.2
/.vs/GoGoGo/v15/Server/sqlite3
/DotNetCoreConfiguration/obj
/LogManCore/obj/Debug/netcoreapp2.2
/LogManCore/obj
